/* Feuille de style générale pour le support : desktop */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Répartition des éléments de la flexbox d'entête */
/* logo = 70% ; liens = 20% ; inscription = 10% */

.logo
{
    flex: 80 auto;
}

.liens
{
    flex: 10 auto;
}

.inscription
{
    flex: 10 auto;
}

/* Ajout d'une bodure en haut pour les liens */
.lien 
{
    border-top: 2px solid white;
}

/* Liens ancres survolés ou actifs */
.lien:hover,
#section_hebergements:target ~ div.entete #ancre_hebergements,
#section_activites:target ~ div.entete #ancre_activites
{
    border-top: 2px solid #0065FC;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_button
{
    display: block;
    border: 2px solid #0065FC;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 12px;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.hebergements {
    height: 630px;
}

.populaires
{
    border-radius: 25px;
}

.hebergements_exemple
{
    background-color: #F2F2F2;
    border-radius: 30px;
}

.hebergements_exemple > div
{
    width: 29%;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

.activites > div
{
    width: 23%;
    height: 85%;
}

/* Style pour une activité seule */

.activite_seule 
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
}

/* Style pour des activités double */

.activite_double 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activite_double > div 
{
    width: 100%;
    height: 45%;
}

.activite_double > div.large 
{
    height: 55%;
}

.activite_double > div.small
{
    height: 35%;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

.footer_flexbox > div
{
    width: 30%;
}
