/* Feuille de style générale pour le support : desktop */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Répartition des éléments de la flexbox d'entête */
/* logo = 70% ; liens = 20% ; inscription = 10% */

.logo
{
    flex: 70 auto;
}

.liens
{
    flex: 20 auto;
}

.inscription
{
    flex: 10 auto;
}

/* Ajout d'une bodure en haut pour les liens */

a.lien:hover
{
    border-top: 2px solid #0065FC;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_button
{
    display: block;
    border: 2px solid #0065FC;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 12px;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.hebergements_marseille
{
    margin-right: 25px;
}
.populaires
{
    border-radius: 25px;
}

.hebergements_marseille
{
    background-color: #F2F2F2;
    border-radius: 30px;
}