/* Feuille de style générale pour le support : desktop */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

header
{
   line-height: 8rem;
}

.logo
{
    flex: 80 auto;
}

.liens
{
    flex: 10 auto;
}

.inscription
{
    flex: 10 auto;
}

.lien 
{
    border-top: 3px solid var(--grey);
}

.lien:hover, .lien:active
{
    border-top: 3px solid var(--blue);
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.button > strong::after
{
   content: "Rechercher";
}

/* --------------------------------------------------------------------------------------- */
/* hebergements / populaires */
/* --------------------------------------------------------------------------------------- */

.hebergements
{
    width: 60%;
}

.hebergement
{
    width: 30%;
}

.populaires
{
    width: 27%;
}

.vignette.populaire:last-child
{
    margin-bottom: 0px;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

.activites
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    max-height: 450px;
}

.activite
{
    width: 22%;
}

.activite.seule 
{
    height: 450px;
}

.activite.petite 
{
    height: 165px;
}

.activite.moyenne 
{
    height: 200px;
}

.activite.large 
{
    height: 237px;
}


/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

footer > div
{
    width: 30%;
}
