/* Feuille de style générale pour le support : mobile */

/* --------------------------------------------------------------------------------------- */
/* contenu */
/* --------------------------------------------------------------------------------------- */

.contenu 
{
    padding-left: 0px;
    padding-right: 0px;
}

/* --------------------------------------------------------------------------------------- */
/* titres */
/* --------------------------------------------------------------------------------------- */

h1
{
    padding: 15px;
}

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

header
{
   line-height: 3.5rem;
   padding-top: 15px;
}

.logo
{
    order: 1;
    width: 40%;
    padding-left: 20px;
}

.liens
{
    order: 3;
    width: 100%;
    margin-bottom: 20px;
}

.inscription
{
    order: 2;
    width: 40%;
}

.lien
{
    border-bottom: 3px solid #F2F2F2;
}

.lien:hover, .lien:active
{
    border-bottom: 3px solid #0065FC;
}

.description 
{
    padding-left: 15px;
    padding-right: 15px;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.searchbar
{
    padding: 20px;
}

.searchbar > input
{
    width: 100%;
}

.button
{
    border-radius: 15px;
    margin-left: -15px; 
    width: 50px;
    padding: 1px;
}

.button > i 
{
    display: initial;
    padding: 14px;
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters
{
    padding-left: 15px;
    margin-top: 5px;
}

.filters > h3
{
    width: 90%;
    margin-bottom: 15px;
}

.info
{
    padding-left: 15px;
    display: flex;
}

.info > i 
{
    margin-right: 10px;
}

/* --------------------------------------------------------------------------------------- */
/* vignettes */
/* --------------------------------------------------------------------------------------- */

.vignettes
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.hebergements 
{
    width: 100%;
    background-color: white;
}

.hebergement
{
    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* populaires */
/* --------------------------------------------------------------------------------------- */

.populaires
{
    width: 100%;
}

.populaires
{
    order: 1;
    height: 550px;
    border-radius: 0;
}

.populaire
{
    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

#zone_activites > h2
{
    padding-top: 0px;
    padding-left: 15px;
}

.activites
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.activite
{
    width: 90%;
    height: 180px;
    margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

footer
{
    justify-content: space-around;
    align-items: flex-start;
}

footer > div
{
    width: 100%;
    padding-bottom: 20px;
}
