/* Feuille de style générale pour le support : mobile */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Modification de l'ordre des éléments de la flexbox d'entête */
/* logo = 1 = 70% ; liens = 3 = 100% ; inscription = 2 = 30% */

.logo
{
    order: 1;
    width: 40%;
}

.liens
{
    order: 3;
    width: 100%;
    padding-bottom: 5%;
    font-size: 1.5rem;
}

.inscription
{
    order: 2;
    width: 40%;
    font-size: 1.5rem;
}

h1
{
    font-size: 1.8rem;
}

h2
{
    font-size: 1.7rem;
}

/* Ajout d'une bodure en bas pour les liens */

.lien
{
    border-bottom: 2px solid white;
}

.lien:hover
{
    border-bottom: 2px solid #0065FC;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_icon_right
{
    display: block;
    color: white;
    border-color: 2px #0065FC solid;
    border-radius: 15px;
    background-color: #0065FC;
    margin-left: -10px; 
    padding: 12px;
}

.search_icon_right > i {
    vertical-align: middle;
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters > p
{
    width: 90%;
}

.info
{
    padding: 3%;
    font-size: 1.6rem;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.populaires, .hebergement, .hebergements_exemple
{
    width: 100%;
}

.populaires
{
    order: 1;
    height: 550px;
}

.hebergements_exemple
{
    order: 2;
}

.hebergements_exemple > div
{
    width: 100%;
    margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

.activites 
{
    height: 1400px;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.activite_seule, .activite_double
{
    display: contents;
}

.activite
{
    height: 15%;
    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */
.footer_flexbox
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.footer_flexbox > div
{
    padding-bottom: 10%;
}

