/* Feuille de style générale pour le support : mobile */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Modification de l'ordre des éléments de la flexbox d'entête */
/* logo = 1 = 70% ; liens = 3 = 100% ; inscription = 2 = 30% */

.logo
{
    order: 1;
    width: 70%;
}

.liens
{
    order: 3;
    width: 100%;
}

.inscription
{
    order: 2;
    width: 30%;
    
}

/* Ajout d'une bodure en bas pour les liens */

a.lien:hover
{
    border-bottom: 2px solid #0065FC;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_icon_right
{
    display: block;
    color: white;
    border-color: 2px #0065FC solid;
    border-radius: 15px;
    background-color: #0065FC;
    margin-left: -10px; 
    padding: 12px;
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters > p
{
    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.populaires, .hebergement, .hebergements_marseille
{
    width: 100%;
}

.populaires
{
    order: 1;
}

.hebergements_marseille
{
    order: 2;
}

.hebergement
{
    box-shadow: 1px 1px 10px  #DEEBFF;
}
