/* Feuille de style générale : commune à tous les supports */

/* Utilisation de la font Raleway */
@import url(//fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap);

html {
    font-size: 10px;
}

body
{
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    line-height: 2.5rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

input {
    font-family: 'Raleway';
}

input:focus
{
    outline: none;
}

/* --------------------------------------------------------------------------------------- */
/* titres */
/* --------------------------------------------------------------------------------------- */

h1
{
    font-weight: 700;
    font-size: 2.4rem;
}

h2
{
    text-align: left;
    font-weight: 700;
    font-size: 2.2rem;
}

h3
{
    text-align: left;
    font-weight: 700;
    font-size: 2rem;
}

h4
{
    text-align: left;
    font-weight: 700;
    font-size: 1.8rem;
}

h6 {
    font-size: 1.7rem;
}

strong
{
    font-weight: 600;
    font-size: 1.7rem;
}

/* --------------------------------------------------------------------------------------- */
/* contenu */
/* --------------------------------------------------------------------------------------- */

.contenu {
    padding-left: 3.4%;
    padding-right: 3.4%;
}

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Flexbox pour l'entête */
header
{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
   line-height: 10rem;
}

/* Style du logo */
.logo > img
{
    vertical-align: middle;
}

/* Flexbox pour les liens */
.liens
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style des liens */
.lien 
{
    text-align:center;
    color: black;
    width: 50%;
    font-size: 1.7rem;
    text-decoration: none;
}

/* Style pour le lien d'inscription */
.inscription
{
    text-align: center;
    font-weight: 650;
    color: #0065FC;
    font-size: 1.7rem;
}

/* Liens ancres survolés */
.lien:hover
{
    color: #0065FC;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_flexbox
{
    display: flex;
    align-items: stretch;
    padding-top: 2rem;
}

.search_icon_left
{
    padding: 12px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2 ;
    width: 3rem;
    text-align: center;
}

.search_icon_left > i
{
    vertical-align: middle;
}

.search_input 
{
    border: 1px #F2F2F2 solid;
    padding: 10px;
    font-weight: bold;
    padding: 12px;
    font-size: 1.8rem;
    font-weight: 600;
}

.button 
{ 
    display: block;
    border: 2px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    padding: 12px;
}

.button > i
{
    display: none;
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters
{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 2rem;
    line-height: normal;

}

.filters > h2
{
    padding-right: 25px;
    margin-bottom: 10px;
}

.filter
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 12px;
    font-size: 1.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.filter > input {
    display: none;
}

/* Style pour l'icône */
.filter > i
{
    z-index: 2;
    padding: 15px;
    padding-right: 14px;
    border-radius: 100%;
    margin-right: -45px;
    width: 20px;
    text-align: center;
}

.filter > input:checked ~ i {
    color: black;
    border: #F2F2F2 solid 2px;
    background-color: #F2F2F2;
}

.filter > input:not(:checked) ~ i {
    color: #0065FC;
    border: #DEEBFF solid 2px;
    background-color: #DEEBFF;
}

/* Style pour le texte */
.filter > span {
    z-index: 1;
    color: black;
    font-weight: 600;
    padding: 14px;
    border-radius: 25px;
    padding-left: 5rem;
    border: #D9D9D9 solid 2px;
}

/* Style pour le texte lorsqu'on survole le filtre */
.filter:hover > input:not(:checked) ~ span {
    background-color: #F2F2F2;
}

.filter:hover > input:checked ~ span {
    background-color:#DEEBFF;
}

/* Style pour l'icône information */
.info > i
{
    color:#0065FC;
    background-color: white;
    border: #DEEBFF solid 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 100%;
}

.info 
{
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 1.7rem;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.hebergements
{
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hebergements > h2
{
    padding-bottom: 15px;
}

.hebergement
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
}

.hebergement > h3
{
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 1.6rem;
    color: black;
    padding-bottom: 25px;
}

.hebergement > a 
{
    width: 30%;
    padding: 5px;
    box-shadow: 1px 1px 25px rgb(206, 204, 204);
    border-radius: 25px;
    margin-bottom: 30px;
    color: black;
}

.hebergement > a > img
{
    width: 100%;
    height: 120px;
    border-radius: 25px 25px 0 0; 
    object-fit: cover;  
}

.hebergement > a > h4
{
    padding-left: 10px;
}

.hebergement > a > .price
{
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.4rem;
}

.hebergement > a > .stars
{
    padding-left: 10px;
}

/* --------------------------------------------------------------------------------------- */
/* populaires */
/* --------------------------------------------------------------------------------------- */

.populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    background-color: #F2F2F2;
    padding: 25px;
}

.presentation_populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.presentation_populaire > h1
{
    font-weight: 700;
    font-size: 1.8rem;
    padding-left: 2%;
    padding-right: 2%;
}

.populaire > a
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
    color: black;
}

.populaire > a > img
{
    display: block;
    border-radius: 20px 0px 0px 20px;
    height: 13.5rem;
    width: 100%;
    max-width: 12.8rem;
    margin: 5px;     
    object-fit: cover;   
}  

.populaire > a > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left ;
    width: 100%;
}

.populaire > a > div > h3
{
    width: 100%;
    padding-top: 5%;
    padding-left: 6%;
    font-size: 1.4rem;
    font-weight: 700;
}

.populaire > a > div > span.price
{
    align-content: flex-start;
    width: 100%;
    padding-left: 6%;
    font-size: 1.3rem;
    font-weight: 500;
}

.populaire > a > div > span.stars
{
    padding-left: 6%;
}

/* Style pour les étoiles */
i.active
{
    color: #0065FC;
}

i.inactive
{
    color: #DEEBFF;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

#section_activites > h2
{
    font-weight: 700;
    font-size: 1.8rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

.activites
{
    padding-bottom: 25px;
}

.activite
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
    color: black;    
}

.activite > img {
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.activite > h3 {
    height: 40px;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 10px;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

.footer_flexbox
{
    background-color: #F2F2F2;
    color: black;

    padding: 2rem;
    
    display: flex;
    flex-flow: row wrap; 
    /* flex-flow: row wrap; = flex-direction = row; + flex-wrap = wrap; */
    justify-content:center;
    align-items: flex-start;
}

.footer_flexbox > div
{
    padding-left: 3%;
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer_flexbox > div > div
{
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.footer_link > a {
   color: black;
   text-decoration: none;
}

.footer_link > a:hover {
    text-decoration: solid;
    color: #0065FC;
 }
