/* Feuille de style générale : commune à tous les supports */

/* Utilisation de la font Raleway */
@import url(//fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap);

body
{
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    line-height: 1.8rem;
    width: 95%;
}

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Flexbox pour l'entête */
header
{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: center;
}

/* Style pour l'image du logo */
.logo img {
    padding-left: 53px;
}

/* Flexbox pour les liens */
.liens
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Style des liens */
.lien {
    text-align:center;
    color: black;
    line-height: 60px;
    width: 50%;
    text-decoration: none;
}

/* Style pour le lien d'inscription */
.inscription
{
    text-align: center;
    font-weight: 700;
    color: #0065FC;
    line-height: 62px;
}

/* Style des liens quand on les survole avec la souris */
a.lien:hover
{
    color: #0065FC;
    padding-right: 53px;
}

/* Style des titres */
h1
{
    font-weight: 700;
    font-size: 1.4em;
    padding-top: 1.4rem;
    padding-left: 53px;
}

h2
{
    font-weight: 400;
    padding-left: 53px;
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.search_flexbox
{
    display: flex;
    align-items: stretch;
    padding-left: 53px;
    padding-top: 1rem;
}

.search_icon_left
{
    padding: 12px;
    border: 2px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px ;
    background-color: #F2F2F2 ;
    margin-right: -2px;
}

.search_input 
{
    border: 1px #F2F2F2 solid;
    padding: 10px;
    font-weight: bold;
    padding: 12px;
    font-size: 1em;
    font-family: 'Raleway';
    font-weight: 700;
}

.search_button
{
   display:none;
}

.search_icon_right
{
    display: none;
}

.search_button_tablet
{
    display:none
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters
{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    padding-left: 53px;
    margin-top: 15px;
    line-height: normal;
}

.filters > p
{
    font-weight:700;
}

.filter
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.filter > input {
    display: none;
}

/* Style pour l'icône */
.filter > i
{
    z-index: 2;
    padding: 13px;
    padding-right: 14px;
    border-radius: 100%;
    margin-right: -42px;
    width: 1em;
}

.filter > input:checked ~ i {
    color: black;
    border: #F2F2F2 solid 2px;
    background-color: #F2F2F2;
}

.filter > input:not(:checked) ~ i {
    color: #0065FC;
    border: #DEEBFF solid 2px;
    background-color: #DEEBFF;
}

/* Style pour le texte */
.filter > span {
    z-index: 1;
    color: black;
    font-weight: 200;
    padding: 12px;
    border-radius: 25px;
    padding-left: 48px;
}

.filter > input:checked ~ span {
    border: #F2F2F2 solid 2px;
}

.filter > input:not(:checked) ~ span {
    border: #DEEBFF solid 2px;
}

/* Style pour le texte lorsqu'on survole le filtre */
.filter:hover > input:not(:checked) ~ span {
    background-color: #F2F2F2;
}

.filter:hover > input:checked ~ span {
    background-color:#DEEBFF;
}

/* Style pour l'icône information */
.info > i
{
    color:#0065FC;
    background-color: white;
    border: #DEEBFF solid 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 100%;
}

.info 
{
    padding-top: 15px;
    padding-left: 53px;
    padding-bottom: 30px;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements */
/* --------------------------------------------------------------------------------------- */

.hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 1%;
}

.hebergements_exemple
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 2%;
    width: 70%;

}

.hebergements_exemple > h1
{
    width: 100%;
    padding-left: 1%;
    text-align: left;
    font-weight: 800;
    font-size: larger;
}

.hebergements_exemple > h2
{
    width: 100%;
    padding-left: 1%;
    font-weight: 800;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    text-align: left ;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    width: 28%;
}

.hebergement > img
{
 
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 25px 25px 0px 0px; 
    object-fit: cover;  
}

/* Style pour les hébergements populaires */
.populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    background-color: #F2F2F2;
    padding-bottom: 40px;
}

.presentation_populaire
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 12px;
    margin-left: 5%;
    width: 85%;
}

.presentation_populaire > h1
{
    font-weight: 800;
    font-size: larger;
    padding-top: 20px;
}

.populaire
{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 25px;
    margin: 5px;
    width: 86%;
}

.populaire > img
{
    display: block;
    border-radius: 25px 0px 0px 25px;
    height: 190px;
    width: 90%;
    margin: 5px;     
    object-fit: cover;   
}  

.populaire > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    text-align: left ;
    width: 100%;
}

.populaire > div > h3
{
    width: 100%;
    align-content: flex-start;
    padding-left: 7%;
}

.populaire > div > span.price
{
    align-content: flex-start;
    width: 100%;
    padding-left: 7%;
}

.populaire > div > span.stars
{
    margin-left: 20px;
}

.hebergement > h3
{
    padding-left: 7%;
}

.hebergement > .price
{
    padding-left: 7%;
    margin-bottom: 2%;
}

.hebergement > span
{
    padding-left: 7%;
}

/* Style pour les étoiles */
i.active
{
    color: #0065FC;
}

i.inactive
{
    color: #DEEBFF;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

/* Style du conteneur activités */

.activites 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    height: 600px;
}

.activites > h1
{
    width: 100%;
    margin: 0;
}

/* Style d'une carte activité */

.activite
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
}

.activite > img
{
    border-radius: 25px 25px 0 0;
    height: 90%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}

.activite > h3
{
    text-align: left;
    max-height: 10%;
    width: 100%;
    padding-left: 50px;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

.footer_flexbox
{
    background-color: #F2F2F2;
    color: black;

    padding: 2rem;
    
    display: flex;
    flex-flow: row wrap; 
    /* flex-flow: row wrap; = flex-direction = row; + flex-wrap = wrap; */
    justify-content:center;
    align-items: flex-start;
    width: 97.5%;
}

.footer_flexbox > div
{
    padding-left: 10px;
    line-height: 1.7em;
}

.footer_flexbox > div > div
{
    font-weight: bold;
    padding-bottom: 0.7em;
}

.footer_link > a {
   color: black;
   text-decoration: none;
}

.footer_link > a:hover {
    text-decoration: solid;
    color: #0065FC;
 }
