/* Feuille de style générale : commune à tous les supports */

/* Utilisation de la font Raleway */
@import url(//fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap);

body
{
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: normal;
    font-style: normal;
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
}

input {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: bold;
}

input:focus
{
    outline: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------- */
/* titres */
/* --------------------------------------------------------------------------------------- */

h1
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h2
{
    font-size: 1.4rem;
    font-weight: bold;
}

h3
{
    font-size: 1.2rem;
    font-weight: bold;
}

strong
{
    font-size: 1rem;
    font-weight: bold;
}

small
{
    font-size: 0.9rem;
    font-weight: normal;
}

/* --------------------------------------------------------------------------------------- */
/* contenu */
/* --------------------------------------------------------------------------------------- */

.contenu 
{
    padding-left: 3.4%;
    padding-right: 3.4%;
}

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

header
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
}

.logo > img
{
    vertical-align: middle;
}

.liens
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lien 
{
    text-align:center;
    color: black;
    width: 50%;
    text-decoration: none;
}

.inscription
{
    text-align: center;
    font-weight: bold;
    color: var(--blue);
}

.lien:hover, .lien:active
{
    color: var(--blue);
}

/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.searchbar
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 1rem;
    line-height: 1.2;
}

.search_icon_left
{
    padding: 12px;
    border: 2px solid var(--grey);
    border-radius: 15px 0px 0px 15px;
    background-color: var(--grey) ;
    width: 1rem;
    text-align: center;
}

.search_input 
{
    border: 1px var(--grey) solid;
    padding: 12px;
}

.button 
{ 
    display: block;
    border: 2px solid var(--blue);
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: var(--blue);
    padding: 12px;
}

.button > i
{
    display: none;
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 10px;
}

.filters > h3
{
    margin-right: 15px;
    margin-bottom: 10px;
}

.filter
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    margin-bottom: 10px;
}

.filter > input /*personnalisation cache à cocher*/
{
    display: none;
}

.filter > i
{
    z-index: 2;
    padding: 12px;
    padding-right: 14px;
    border-radius: 100%;
    margin-right: -45px;
    width: 20px;
    text-align: center;
}

.filter > span 
{
    z-index: 1;
    color: black;
    padding: 11.5px;
    border-radius: 25px;
    padding-left: 50px;
    border: var(--grey) solid 3px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

/* Style lorsque le filtre est activé/désactivé */

.filter > input:checked ~ i {
    color: var(--blue);
    border: var(--light-blue) solid 2px;
    background-color: var(--light-blue);
}

/* Style lorsque le filtre est survolé */

.filter:hover > input:not(:checked) ~ span {
    background-color: var(--grey);
}

/* --------------------------------------------------------------------------------------- */
/* information */
/* --------------------------------------------------------------------------------------- */

.info 
{
    margin-top: 15px;
    margin-bottom: 30px;
}

.info > i
{
    color:var(--blue);
    background-color: white;
    border: var(--grey) solid 1px;
    padding-left: 9px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-radius: 100%;
    margin-right: 5px;
    height: 14px;
}

/* --------------------------------------------------------------------------------------- */
/* vignettes */
/* --------------------------------------------------------------------------------------- */

.vignettes
{
    background-color: var(--grey);
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 15px;
}

.vignettes > h2
{
    width: 100%;
    padding-bottom: 20px;
}

.vignettes > h2 > i
{
    float: right;
}

.vignettes > h3
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.vignette 
{
    padding: 5px;
    box-shadow: 1px 1px 25px rgb(206, 204, 204);
    border-radius: 15px;
    margin-bottom: 30px;
    color: black;
}

.vignette_info > div
{
    padding-top: 7px;
    padding-left: 10px;
    width: 100%;
}

.vignette:hover
{
    transition: transform 0.2s ease;
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
}

i.active
{
    color: var(--blue);
}

i.inactive
{
    color: var(--light-blue);
}

/* --------------------------------------------------------------------------------------- */
/* hebergements / populaires */
/* --------------------------------------------------------------------------------------- */

#zone_hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vignette.hebergement
{
    padding-bottom: 10px;
}

.vignette.hebergement > .vignette_image > img
{
    height: 115px;
    width: 100%;
    border-radius: 15px 15px 0 0; 
    object-fit: cover;  
}

.vignette.populaire
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.vignette.populaire > .vignette_image
{
    width: 40%;
}

.vignette.populaire > .vignette_image > img
{
    width: 100%;
    height: 140px;
    border-radius: 15px 0 0 15px; 
    object-fit: cover;  
}

.vignette.populaire > .vignette_info
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 50%;
    padding: 10px;
}

.vignette.populaire > .vignette_info > div > div
{
    padding-bottom: 5px;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

#zone_activites > h2
{
    padding-top: 20px;
    padding-bottom: 25px;
}

.activites
{
    padding-bottom: 25px;
}

.activite
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
    color: black;    
}

.activite > img {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.activite > div {
    height: 50px;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 15px;
}

.activite:hover
{
    transition: transform 0.2s ease;
    transform: scale(1.05);
    box-shadow: 1px 1px 10px rgb(206, 204, 204);
}


/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

footer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: flex-end;
    align-items: flex-start;
    background-color: var(--grey);
    color: black;
    padding: 40px;
}

footer > div
{
    line-height: 30px;
}

footer > div > h3
{
    padding-bottom: 15px;
}

footer a {
   color: black;
   text-decoration: none;
}

footer a:hover {
    text-decoration: solid;
    color: var(--blue);
 }
