/* Feuille de style générale pour le support : tablet */

/* --------------------------------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------------------------------- */

/* Répartition des éléments de la flexbox d'entête */

header
{
   padding-top: 20px;
   padding-bottom: 20px;
   line-height: 4rem;
}

.logo
{
   width: 50%;
   order: 1;
   text-align: center;
}

.liens
{
    width: 100%;
    order: 3;
}

.inscription
{
    width: 50%;
    order: 2;
}

.lien
{
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
}

.lien:hover, .lien:active
{
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
}


/* --------------------------------------------------------------------------------------- */
/* searchbar */
/* --------------------------------------------------------------------------------------- */

.button > strong::after
{
   content: "✔";
}

/* --------------------------------------------------------------------------------------- */
/* filterbar */
/* --------------------------------------------------------------------------------------- */

.filters
{
    justify-content: center;
}

.filters > h3
{
    width: 100%;
    padding-bottom: 10px;
}

.filters > label
{
    width: 40%;
}

.filter
{
    justify-content: flex-start;
}

/* --------------------------------------------------------------------------------------- */
/* vignettes */
/* --------------------------------------------------------------------------------------- */

.vignettes
{
    margin-bottom: 30px;
}

/* --------------------------------------------------------------------------------------- */
/* hebergements / populaires */
/* --------------------------------------------------------------------------------------- */

.hebergements
{
    width: 100%;
}

.hebergement
{
    width: 45%;
}

.populaires
{
    width: 100%;
}

/* --------------------------------------------------------------------------------------- */
/* activites */
/* --------------------------------------------------------------------------------------- */

.activites
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activite
{
    width: 45%;
    height: 200px;
    margin-bottom: 20px;
}

/* --------------------------------------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------------------------------------- */

footer
{
    justify-content: space-between;
}

footer > div
{
    width: 50%;
    padding-bottom: 20px;
}